<!DOCTYPE html>
<html lang="en">

<head> <!-- Ayudantía 2: -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style/style_remove_players.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P"> <!-- Google font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis"> <!-- Google font -->
    <title> Games - Wild DrunKing </title>
    <iframe class="header" src="header_admin.html" frameborder="0"></iframe>
</head>

<body>
    <div class="p-box">
        <h1> Remove Players </h1>
        <div class="player-info">
            <table class="player-info-table">
                <tr>
                    <th>Id user</th>
                    <th>Id player</th>
                    <th>Character</th>
                    <th>Remove</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>Aperoar</td>
                    <td><a href="games.html"><input type="button" value="Remove" class="join-public-button"/></a></td>

                </tr>
                <tr>
                    <td>2</td>
                    <td>2</td>
                    <td>Snoop Doggin</td>
                    <td><a href="games.html"><input type="button" value="Remove" class="join-public-button"/></a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>3</td>
                    <td>Jagger</td>
                    <td><a href="games.html"><input type="button" value="Remove" class="join-public-button"/></a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>4</td>
                    <td>Michilada</td>
                    <td><a href="games.html"><input type="button" value="Remove" class="join-public-button"/></a></td>
                </tr>
              </table>
        </div>
    </div>
</body>
<iframe class="header" src="footer_admin.html" frameborder="0"></iframe>
</html>